.chatContainer {
    margin-top: 100px;
  border: 1px black solid;
  border-radius: 15px;
  position: relative
}
.sendBtn{
  width:96%;
  border-radius:0px 0px 10px 10px
}
.private{
  color:red
}
#feedRightColumn {
  margin-right: 20px;
}
.inputForm{
  width:96%;
}
.chatForm{
  
  position: absolute;
  bottom:0
}
.messagesRow{
    height:92%
}
.chatCol{
    border-right: 1px solid black;
}
#chat{
    
}